body{
  font-family: Sans-Serif;
}

a {
  color: Black;
}

code {
  display: block;
  overflow-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print {
  h4, nav, input, button, textarea {
    display: none;
  }
}
